<div id="topbar">

			<input type="image" id="logo" src="bbc-blocks-dark.png">
			<div id="signin" class="topbar-section">
				<img id="signin-image" src="Capture.png">
				<span id="signin-text">Signin</span>
			</div>

			<div class="topbar-section topbar-menu">
				News
			</div>

			<div class="topbar-section topbar-menu">
				Sports
			</div>

			<div class="topbar-section topbar-menu">
				Weather
			</div>

			<div class="topbar-section topbar-menu">
				Shop
			</div>

			<div class="topbar-section topbar-menu">
				Earth
			</div>

			<div class="topbar-section topbar-menu">
				Travel
			</div>

			<div class="topbar-section topbar-menu">
				More
				<input type="image" id="more-arrow" src="Capture arraow.png">
			</div>

			<div class="topbar-section topbar-search">
				<input id="searchbox" type="text" placeholder="search">

				<input type="image" id="searchicon" src="Capture search.png">
			</input>

			</div>

		</div>
		<div class="clear"> </div>
		<div id="large-red-section">
			<div id="small-red-section">
				<h1 id="heading-news">NEWS</h1>
				<div id="local-news">
				<a id="local-news-text" href="">Find Local News</a>
				<input id="local-news-image" type="image" src="Capture pointer.png">
				</div>
			</div>

		</div>

		<div id="darker-red-section-container">
			<div id="darker-red-section">

				<a class="darkred-section-link" href="">Home</a>

				<a class="darkred-section-link" href="">World</a>

				<a class="darkred-section-link" href="">Business</a>

				<a class="darkred-section-link" href="">Politics</a>

				<a class="darkred-section-link" href="">Tech</a>

				<a class="darkred-section-link" href="">Science</a>

				<a class="darkred-section-link" href="">Health</a>

				<a class="darkred-section-link" href="">Education</a>

				<a class="darkred-section-link" href="">Entertainment & Arts</a>

				<a class="darkred-section-link" href="">videos & audios</a>

				<a class="darkred-section-link" class="noborder" href="">More</a>

				<img id="more-arrow-image-2" src="Capture more arrow pointer.png">
			</div>
		</div>

		<div class="clear"></div>

		<div id="page-container">
			<div id="main article">
				<h2 id="technology-1st-link">Technology</h2>
				<div id="news-container">
					<a id="link-in-main-article" href=""><h2>Asda bug exposed payment details</h2></a>

					<div id="text-in-main-article">
						<p>Security vulnerability that put  The enrolment
						of a student in a program shall
						stand terminated if he / she fails to earn 18 credits
						at the end of first year.
						</p>

						<p><img id="image-clock" src="Capture clock.png">19 january 2016 |
						<a id="technology-link" href="">Technology</a>
						</p>
						<hr align="left" id="article-hr">

						<p><a class="article-link" href="">Surveillance firm hit in hack attack</a>
					</p>
					<p><a class="article-link" href="">eBay flaw has existed for months</a>
					</p>
					</div>

					<img id="ASDA-image" src="Capture ASDA.png">
				</div>
			</div>



			<div id="watch-and-listen-section">
			    <h2>Watch/Listen</h2>


				<div class="watch">
					<input class="image1" type="image" src="Capture1.png">
					<a class="caption" href=""><h4>UK Science chef backs blockcahin</h4></a>
					<p><img class="clock-image-2" src="Capture clock.png">19 january 2016</img>
					<a class="last-link" href="">Technology</a></p>
				</div>


				<div class="watch">
					<input class="image1" type="image" src="Capture2.png">
					<a class="caption" href=""><h4>Uk Science chef backs blockcahin</h4></a>
					<p><img class="clock-image-2" src="Capture clock.png">19 january 2016</img>
					<a class="last-link" href="">litcoin</a></p>
				</div>


				<div class="watch">
					<input class="image1" type="image" src="Capture3.png">
					<a class="caption" href=""><h4>UK Science chef backs blockcahin</h4></a>
					<p><img class="clock-image-2" src="Capture clock.png">18 january 2016</img>
					<a class="last-link" href="">Ripple</a></p>
				</div>


				<div class="watch">
					<input class="image1" type="image" src="Capture4.png">
					<a class="caption" href=""><h4>UK Science chef backs blockcahin</h4></a>
					<p><img class="clock-image-2" src="Capture clock.png">17 january 2016</img>
					<a class="last-link" href="">Bitcoin</a></p>
				</div>


				<div class="watch">
					<input class="image1" type="image" src="Capture5.png">
					<a class="caption" href=""><h4>UK Science chef backs blockcahin</h4></a>
					<p><img class="clock-image-2" src="Capture clock.png">17 january 2016</img>
					<a class="last-link" href="">Movie</a></p>
				</div>
			</div>

		</div>






    
<link rel='stylesheet' href='/stylesheets/indexstyle.css' />
